/EMS/build/
/EMS/dist/
/EMS/nbproject/private/
/DBScript/build/
/DBScript/dist/
/DBScript/nbproject/private/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/